
<div class="main">

    <h1>Welcome to Pravina Prep!</h1>
    <p>Hello <%= current_user.first_name %>! Start by taking a pretest!</p>

    <div class="btn-group-vertical btn-group-lg btn-hover" role="group" aria-label="...">
       <% @quizzes.each do |q| %>
    <%= link_to q.name, new_attempt_path(quiz_id: q.id), :method => 'new', :class => "btn btn-default"%>
    <% end %>
</div>
</div>