<!--div class="login"> 
  <div class="container">-->
<div class="main">

<div class="form"> 

  <h1>Log in</h1>
<%= form_for(:session, url: login_path) do |f| %> 
  <%= f.email_field :email, class: 'form-control', :placeholder => "Email" %> 
  <%= f.password_field :password, class: 'form-control', :placeholder => "Password" %> 
  <%= f.label :remember_me, class: "checkbox inline" do %>
  <%= f.check_box :remember_me %>
  <span>Remember me on this computer</span>
  <% end %>
  <%= f.submit "Log in", class: "btn btn-submit" %>

<% end %>
</div>
</div>
