<div class="main">
<%= form_for(@user) do |f| %>
<h1>Thank you for signing up for Pravina Prep <%= @user.first_name %>!</h1>
<p>Your account has not been activated. Check your email for the activation link.</p>
<%= button_to "Resend Activation email", resend_path,  class: "btn" %>

<% end %>
</div>