<h1>Pravina Prep</h1>

<p>Hi <%= @user.first_name %>,</p>

<p>
Welcome to Pravina Prep! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>