
<div class="main">
 
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

<h1>Users index</h1>

<table class="table table-bordered">
<thead>
<tr>
  <th>User ID</th>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Email</th>
  <th>
</tr>
</thead>
<tb>
<%= @users.each do |user| %>
<tr>
<td><%= user.id %></td>
<td><%= user.first_name %></td>
<td><%= user.last_name %></td>
<td><%= user.email %></td>
<td><% if current_user.admin? && current_user != user %>
     <%= link_to "delete", user, method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %></td>
  <% end %>
</tr>
</tb>
</table>
</div>
</div>
