<div class="main"> 

<div class="form"> 

<h1>Sign up</h1>

      <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.text_field :first_name, class: 'form-control', :placeholder => 'First Name' %>
      <%= f.text_field :last_name, class: 'form-control', :placeholder => 'Last Name' %>
      <%= f.email_field :email, class: 'form-control', :placeholder => 'Email' %>
      <%= f.password_field :password, class: 'form-control', :placeholder => 'Password' %>

      <%= f.password_field :password_confirmation, class: 'form-control', :placeholder => 'Confirm Password' %>
<%= f.submit "Create", class: "btn btn-submit" %> 
              
      <% end %>
  </div>
  </div>

