<div class="jumbotron">

  <h1>Pravina Prep</h1>
  <p>Your home for individualized, web based ACT instruction</p> 
<a href="/signup" class="btn-main">Get Started</a>
</div>
<div class="main">
    <h1>About Us</h1>
  <div class="row-fluid">
  <div class="span4">
    <h3>Majid Hasan</h3>
    <img class="resize" src="https://s3.amazonaws.com/pravina/Majid.jpg">
    <p>Majid is a lawyer (more here).</p>
  </div>
  <div class="span4">
    <h3>Rachel Steelman</h3>
    <img class="resize" src="https://s3.amazonaws.com/pravina/Rachel.jpg">
    <p>Rachel is a physics and chemistry teacher with a masters in physics from University of Missouri - Kansas City and a masters in education from Pittsburg State University.</p>
  </div>
</div>
</div>
