/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*@import "bootstrap-sprockets";
@import "bootstrap";*/
html, body {

  background-repeat: no-repeat;

  background-color: #f2f2f2; 

} 
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', Georgia, Times, serif;
    color: #FD9977;
}
p, div, li, a {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 100;
}


/*navbar*/

.dropdown-menu {
    background-color: #f2f2f2 !important;
    width: 200px;  
}
.navbar-inverse {
  background-color: #4b5253;
  border-color: #7f8485;
  margin-bottom: 0;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
  margin: -10px 0px 0px 0px;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #FD9977;
}
.navbar-inverse .navbar-text {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #FD9977;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #FD9977;
  background-color: #7f8485;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #FD9977;
  background-color: #7f8485;
}
.navbar-inverse .navbar-toggle {
  border-color: #7f8485;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #7f8485;
  color: #FD9977;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-inverse .navbar-link {
  color: #ffffff;
}

.navbar-inverse .navbar-link:hover {
  color: #FD9977;
}

@media (max-width: 767px) {

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FD9977;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #FD9977;
    background-color: #f2f2f2;
  }
}

/*jumbotron*/

.jumbotron {
  height: 800px;

  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url('https://s3.amazonaws.com/pravina/female-865073_1920.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.jumbotron h1 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.jumbotron p {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.btn-main, .btn-main:hover {
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}




/* Main */

.main {
  clear: both;
  margin: 0px 20px 0px 20px;
  padding: 0px 80px 40px 80px;
  text-align: center;
/*  background-color: #ffffff;
  border: 1px solid #e5e5e5;*/
}
.col-md-6 {
    background-color: #ffffff;

}
.row-fluid .span4 img.resize  {
   max-width:60%;
   max-height:60%;
}

.main h1 {

}

.main p {
} 
.main li {
    text-align: left;

} 
.btn {
  text-align: left;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 100;
  text-decoration: none;
  background-color: #FD9977;
  color: #ffffff;
  border: 1px solid #d8d8d8;

}
.btn:hover {
  text-align: left;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 100;
  text-decoration: none;
  background-color: #FD9977;
  color: #ffffff;
}


/* FORM PAGES */


.form {
  text-align: center;
  margin: 100 auto 10px;
  padding: 160px 0 10px 0;
  font-size: 16px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #5e5e5e;
  width: 300px;
}

.checkbox {
  margin-bottom: 10px;
  margin-left: 20px;

}

.checkbox span {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 100;  }

.columns {
    column-count: 3;
  }

input[type=text],
input[type=email],
input[type=password] {
  color: #666666;
/*  width: 100%;
*/  border: 1px solid #d8d8d8;
outline: none;
  border-radius: 6px; 
/*  height: 60px;
*/  margin: 6px auto;
/*  text-indent: 10px;
*/}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus  {
  outline: none;
  border: 1px solid #d8d8d8;
  box-shadow: 0 0 5px #FD9977;
}

.btn-submit {
/*  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 1px solid #d8d8d8;
  margin-top: 6px;
  border-radius: 6px;
  opacity: 0.5;*/
}

#error_explanation {
  color: red;
  ul {
    color: red;
  }
}
.alert {
    margin: 0 0 0px 0;
    padding: 10px 0 10px 0;  
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}






