<li>
  <p>
    Test Code: <%= question.test_code %>, 
    page <%= question.page %>, 
    number: <%= question.number %> 
    <%= f.fields_for :answers, question.answers.new do |a| %> Answer: <%= a.text_field :letter %></p>
  <%= a.hidden_field :user_id, :value => current_user.id %>
  <% end %>
</li>