<div class="main">
<h2>
  <%= @quiz.name %>
</h2> 
<p><%= @quiz.description %></p>

<%= form_for(@attempt) do |f| %> 
<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.hidden_field :quiz_id, :value => @quiz.id %>
<div style="columns: 3">
    <% f.object.questions.each do |q| %>
   <%= f.fields_for :answers, @attempt.answers.new do |a| %>
            <p>
              Test Code: <%= q.test_code %>, 
              page <%= q.page %>, 
              #<%= q.number %> 
            Answer: 
            <%= a.text_field :letter, :size=>"1x1", :maxlength=>"1"  %></p>
            <%= a.hidden_field :user_id, :value => current_user.id %>
            <%= a.hidden_field :question_id, :value => q.id %>
            <%= a.hidden_field :correct_answer, :value => q.correct_answer %>
        <% end %>
<% end %>
</div>
<div><%= submit_tag("Submit", :class => "btn") %></div>
<% end %>  
 </div>

<script>
$(".submit").on("click", function(){
     $.ajax({
        url: "/scores",
        type: "POST",
        data: {attempt_id: <%= @attempt.id %>, answer: _.map($("input:checked"), function(choice){return choice.getAttribute("grade")}) },
        
        success: function(response) {
            $("body").append($("<div class ='score'>SCORE:" + response.value + "% </div>"))
            $(".quiz").remove(); 
            $(".submit").remove();
        }
      });
  })

  </script>