<h2>
  <%= @quiz.name %>
  <p><small><%= @quiz.description %></small></p>
</h2>
    <ol>   
      <% @attempt.answers.each do |a| %>
          <li>
              <p>
              Test Code: <%= a.question.test_code %>, 
              page <%= a.question.page %>, 
              #<%= a.question.number %>, 
              <% if a.letter.blank? %>
              You left this answer blank!  Don't forget:  YOU SHOULD NEVER LEAVE AN ANSWER BLANK ON THE ACT!!!
              <% elsif a.correct == true %>  
              You chose: <%= a.letter.upcase %>  Congratulations!  That was the correct answer!  
              <% else %>  
              You chose: <%= a.letter.upcase %>  Good try, but that's not quite right.  The correct answer is <%= a.correct_answer.upcase %>.  *Explanation here*
              <% end %>
              </p>
          </li> 
    <% end %>
  </ol>
  <%= link_to 'Click here to see your score!', scores_path(user_id: current_user.id, attempt_id: @attempt.id, quiz_id: @quiz.id), class: 'btn btn-default btn-sm', method: :create %>


