<!DOCTYPE html>
<html lang="en">
  <head>
  
  <title>Pravina Prep</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application.css' %>
    <link href="http://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Muli" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400, 600' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application.js", "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js' %>
    <%= javascript_include_tag "bootstrap.min.js" %>
    <%= csrf_meta_tags %>

    
</head>

<body>
  <!--navigation -->
  <div class="navbar navbar-inverse navbar-static-top navbar-custom" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header"> 
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">
          <span><img alt="Pravina Test Prep" src="https://s3.amazonaws.com/pravina/Pravina-Logo.gif" height="40px" width='40px'></span>  Online ACT Prep
        </a>
      </div>  
      <div class="navbar-collapse collapse"> 
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %> 
            <li><a href="/home" ><%= current_user.first_name %></a></li> 
            <li><%= link_to "Log Out", logout_path, method: "delete" %></li> 
          <% else %> 
<!--             <li><a href="/about">About</a></li>  -->
              <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                Sign Up 
                <strong class="caret"></strong>
              </a>
              <div class="dropdown-menu" style="padding: 15px; padding-bottom: 15px;">
                <!-- Sign Up form here -->

                <%= render partial: 'users/new' %>
              </div>
            </li>         
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                Login 
                <strong class="caret"></strong>
              </a>
              <div class="dropdown-menu" style="padding: 15px; padding-bottom: 15px;">
                <!-- Login form here -->

                <%= render partial: 'sessions/new' %>
              </div>

            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>          


  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>" role="alert" ><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><%= message %></div>
  <% end %> 

<%= yield %>
</body>

